<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="onem2m.keti.androidpostman">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.main_list.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity
            android:name=".ui.main_data.MainDataActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity
            android:name=".ui.main_data.popup.headercreation.HeaderCreationActivity"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.result.ResultActivity"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.main_data.popup.headerdelupdate.HeaderDelUpdateActivity"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>

    </application>
</manifest>